#heading {
    background-color: rgb(238, 238, 238);
    width: auto;
    height: 50px;
}

#headingLeft {
    float: left;
}

.trangChu {
    background-color: #007cdc;
    border-radius: 8px;
    color: white;
    margin: auto 10px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#headingRight {
    float: right;
    margin: auto 50px;
    text-align: center;
    width: 150px;
    height: 50px;
}
#price{
    text-align: right;
}
#table{
    width: 900px;
    height: 1200px;
    margin: auto;
}
#tableSelect{
    background-color: rgb(238, 238, 238);
    width: 900px;
    height: 100px;
    margin: auto;
    
}
.text-center{
    text-align: left;
}
.tableSelect{
    width: 300px;
    height: 50px;
}
#motorcycleLine{
    width: 250px;
    height: 20px;
}
#year{
    width: 250px;
    height: 20px;
}
#color{
    width: 250px;
    height: 20px;
}
#tableSelect2{
    background-color: rgb(238, 238, 238);
    width: 600px;
    margin: 20px auto;
}
.text-right{
    text-align: right;
}
#contact{
    width: 900px;
    background-color: rgb(238, 238, 238);
    margin: auto;
    padding: 10px;
}
#contactCenter{
    width: 600px;
    margin: auto;
}
#divButton{
    width: 300px;
    margin: 10px auto;
}
#button{
    background-color: blue;
    color: white;
}

