#heading{
    background-color: black;
    width: auto;
    height: 100px;
}
#headingLeft{
    float: left;
    text-align: center;
    width: auto;
    height: 100px;
}
#headingRight{
    float: right;
    margin: auto 50px;
    text-align: center;
    width: 150px;
    height: 80px;
}
#pAdd{
    color: white;
}

#content{
    background-color: rgb(238, 238, 238);
    width:1100px;
    height: 1400px;
    margin: auto;
}
#detailsAdd{
    padding: 10px 30px;
}
.productsShow {
    width: 1100px;
    height: auto;
}
.tbProduct {

    width: 200px;
    height: 300px;
    margin: 5px 10px;
    float: left;
    background-color: white;
    text-align: center;

}
.imgShow {

    width: 200px;
    height: 150px;
}
.textTbProduct {
    font-size: 16px;
    padding: 5px;
}
